body {
  background-color: aquamarine;
}

h1 {
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  margin: 10px;
}

.button {
  position: relative;
  text-align: center;
  margin: 5px;
}